<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nikhila</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body style="background-color: rgb(226, 221, 221)">
        <nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: rgb(5, 5, 92)">

                <ul class="navbar-nav">
                    
                      <%for(var i=0;i<nav.length;i++){%>
                          <li class="nav-item active">
                        <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
                    <!-- <li class="nav-item active">
                        <a  class="nav-link" href="#about">ABOUT</a></li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#contact.html">CONTACT</a></li>
                   
                        
                </ul>
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="login.html" style="text-align: center;"><b>LOGIN</b></a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link" href="signupp.html"><b>SIGN UP</b></a> -->
                              </li>
                              <%}%>
                        </ul>
            </nav>
            <div class="jumbotron jumbotron-fluid " style="background-color: rgb(3, 3, 58)">
                    <div class="container row" style="padding-left: 8%;">
                      <h1 class=" col-lg-8 col-sm-8" style="color: white;font-size: 300%; font-family:Georgia, 'Times New Roman', Times, serif"> <b><%=title%></b></h1>  
                      <div class="col-lg-4 col-sm-4 " style="  background-color: rgb(15, 8, 110); border-radius: 5px; height:70px;margin-left: 85%; margin-top: -6%;">

                      </div>    
                    </div>  
                  </div>
                  <div class="container" style="display:flex;flex-direction:column ;  background-color: rgb(255, 253, 253);border-radius:5px; padding:40px; margin-top:-5%">
                       <div class="  col-lg-2 float-left" >
                         <img src="/image/prof.jpg" class="rounded-circle" alt="loading" width="130" height="130">
                       </div>  
                        <div class="row col-lg-8 float-left " >
                            <h5 style="margin-top: -16%;margin-left: 29%" >Repurpose Content to Reach a Wider Audience</h5><br> <br>
                             <h6 style="color: rgb(65, 64, 64); margin-top: -19%; margin-left: 29%">97thfloor.com</h6> 
                             
                             <label style="margin-top: -15%; margin-left: -15%">2 hours ago. <a href="#">Read more</a></label><br>
                         
                      <div class="col-lg-8 float-left">
                        <img src="/image/men.jpg" class="rounded-circle" alt="loading" width="130" height="130"></div>
                        
                        <h5 style="margin-top:-13%; margin-left:30%;">14 Useful Site for Designers</h5>
                        <h6 style="color: rgb(65, 64, 64); margin-top: -9%; margin-left: 30%">apple.com</h6>
                        <label style="margin-top: -5%; margin-left: -11%">2 hours ago. <a href="#">Read more</a></label>
                        
                        </div></div>
                        
                </div>
            
</body>
</html>